.main__button {
    color: #000;
    border: 1px rgba(128, 128, 128, 0.5) solid;
    border-radius: 6px;
    padding: 1em 2.5em;
    font-size: 0.7rem;
    cursor: pointer;
    letter-spacing: 1px;
    background: transparent;
    white-space: nowrap;

}

.main__button.primary {
    background: rgba(53, 184, 190, 1);
    color: white;
}

.main__button:active {
    color: #000;
}

@media screen and (min-width: 1000px) {

    .main__button {
        transition: border-radius 0.2s ease-in-out;
    }
}