.main {
    padding: 5em 3em 3em;
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
}

.main__heading {
    font-size: 2rem;
    color: var(--page-color);
}

.main__subtitle {
    width: 80%;
    text-align: center;
    font-size: 0.9rem;
    color: rgba(84, 98, 133, 1);
}

@media screen and (min-width: 800px) {
    .main {
        padding: 5em 7em 5em 7em;
    }

    .main__heading {
        font-size: 2.7rem;
    }

    .main__subtitle {
        width: 45%;
    }
}

.blue-link {
    color: var(--page-color);
}

.blue-link:hover {
    cursor: pointer;
}